body{
    background-color: black;
    margin:0;
    padding:0;
    align-items: center;
    justify-content: center;
    display:flex;
    font-size:45px;
    
}

.container{
    background-color: rgb(115, 115, 172);
    width:80vw;
    height:80vw;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    
    
}

.calculatorContainer{
    width: 70%;
    height:70%;
    background-color: rgb(171, 209, 99) ;;
    display:grid;   
    grid-template-rows: 39% 1% 60%;
    grid-gap: 0;
    border: 2px solid black ;

}

.resultsContainer{
    width:100%;
    display:flex;
    flex-direction: column;    
    text-align:right;
    background-color:rgb(41, 11, 112) ;
    max-width:100%;
    overflow: auto;
    position: relative;
    
}

.detailsContainer{
    height:40%;
    max-height: 40%;
    
    
}
.detailsOfCalculus{
    height:100%;
    max-height: 100%;
    background-color:rgb(41, 11, 112);
    font-size:4vw;
    padding:20px 20px;
    white-space: nowrap;
    color:rgb(169, 179, 175);
}

.resultBox{
    height: 60%;
    background-color:rgb(41, 11,112);
    font-size:6vw;
    padding-right:10px;
    color:rgb(177, 206, 50);
    position: sticky;
    left:0; 
}

.memoryButtonsContainer{
    /*display:grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-gap: 0.8%;
    margin: 0.8% 0.8%;*/
    background-color:rgb(28, 56, 134);
}

.memoryBtnDiv{
    width:100%;
    margin:0.8%;
    height:80%;
}

.memoryButton{
    width:100%;
    height:100%;
}




.calcOperatorsGrid{
    background-color: rgb(202, 24, 24) ;;
    display:grid;   
    grid-template-rows: 19% 19% 19% 19% 19%;
    grid-template-columns: 24.4% 24.4% 24.4% 24.4%;
    grid-gap: 0.8%;
    margin: 0.8% 0.8%;

}

.OperatorButtonDiv{
    background-color: blue;
}


.operatorButton{
    width:100%;
    height: 100%;
    font-size: 2.5vw;
    font-weight: bold;
}

.hide{
    display: none;
}

.enlarge{
    font-size:7.5vw;
    padding-top:30px;
    padding-right: 30px;

}

@media (max-width: 800px){
    .calculatorContainer{
      width:70%;
      height: 80%;
    }
    .container{
        width:90%;
        height:80%;
    }
    .OperatorButtonDiv{
        position: relative;
        
    }

    .operatorButton{
        bottom:35%;
        position: relative;
    }
  }


@media (max-width: 600px){
    .calculatorContainer{
      width:70%;
      height: 80%;
    }
    .container{
        width:90%;
        height:80%;
    }
    .OperatorButtonDiv{
        position: relative;
        
    }

    .operatorButton{
        bottom:35%;
        position: relative;
    }
  }

  
@media (max-width: 370px){
    .calculatorContainer{
      width:100vw;
      height: 100vh;
    }

    .container{
        width:100vw;
        height:100vh;
    }

    

    .OperatorButtonDiv{
        position: relative;
        
    }

    .operatorButton{
        bottom:15%;
        position: relative;
    }

  }
